h1 {
	padding-top: 5px;
	margin-bottom: 0;
}

h3 {
	padding-top: 8px;
	padding-bottom: 8px;
}

input[type="range"], #aggregatorURLField {
	width: 350px;
}

#lightThemeOption {
	background-color: #ddd !important;
	border-color: #ddd !important;
}

#lightThemeOption:checked, #sepiaThemeOption:checked, #systemThemeOption:checked {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23212529'/%3e%3c/svg%3e");
}

#darkThemeOption {
	background-color: #454545 !important;
	border-color: #303030 !important;
}

#sepiaThemeOption {
	background-color: #d6c9af !important;
	border-color: #d6c9af !important;
}

@media (prefers-color-scheme: dark) {

	#systemThemeOption {
		background-color: #454545 !important;
		border-color: #303030 !important;
	}

	#systemThemeOption:checked {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
	}

}

#systemThemeOption {
	background-color: #ccc;
	border-color: #fff;
}
