:root {
	color-scheme: dark;
}

.progress {
	--bs-progress-bg: #282828;
}

body {
	background-color: #1a1a1a !important;
	color: #d5d5d5 !important;
}

.mw-parser-output table:not([class]), .multicol, td[style="background:#f0f0f0;"], th[style="background:#f0f0f0;"], table.table {
	background-color: #1a1a1a !important;
}

th, td, .hlist li {
	color: #d5d5d5;
}

.mw-parser-output .compact-ambox .ambox,
.navbox-even, .navbox-odd, .infobox-subheader {
	background-color: #282828 !important;
}

div[style="background-color: #C4D2DF; margin:0em;position:relative;"],
div[style="border:1px #bbb solid; background-color:#eee; padding:0.5em; margin:0.5em 0"],
div[style="margin: 5px 1%; border: 0px; border-left: 10px solid #E5E5E5; background: #fbfbfb;"],
.gallery .thumb,
.ambox,
.asbox > table,
table[data-nosnippet],
.thumb .thumbcaption,
.thumb .thumbinner,
.mw-parser-output .wikitable th,
.mw-parser-output .wikitable,
.infobox,
.navbox,
.imbox,
.ombox,
.side-box,
.sidebar,
.sidebar-content,
.quotebox,
.portal,
.portal > ul,
.sistersitebox,
#periodic-table-legend,
.mw-collapsible,
.portal-bar,
.toccolours,
.toc {
	background-color: #282828 !important;
	border-color: #393939 !important;
}

.mw-parser-output tr+tr>.navbox-abovebelow,
.navbox-group,
.navbox-title,
.navbar.mini,
.navbar-mini,
.nv-view,
.nv-talk,
.nv-edit,
.mw-collapsible > div,
td[style="background:#e8e8e8;"],
th[style="background:#e8e8e8;"],
td[style="padding:0 0.6em; background:#e0e0e0;"],
.mw-parser-output .navbox-subgroup,
.widget-row.value-only.white,
.sidebar-title-with-pretitle,
.sidebar-list-title,
.sidebar-heading,
.infobox-full-data,
.infobox-header,
.infobox-above {
	background-color: #353535 !important;
}

.infobox-header {
	border-color: #353535 !important;
}

.infobox-full-data, .infobox-above, .infobox-data, .infobox-label {
	border-color: #393939 !important;
}

.mw-parser-output tr+tr>.navbox-abovebelow,
tr + tr > .navbox-group,
.navbox .navbox-group,
.thumbimage,
.wikitable td,
.sidebar-above,
.sidebar-below,
.sidebar-list-title,
.navbox-group,
.navbox-list {
	border-color: #454545 !important;
}

.infobox,
.toc,
.tocnumber,
.thumb .thumbcaption,
.sidebar-list-title,
.navbox-group,
.navbox-title,
.infobox-title,
.infobox-header,
.infobox-above,
font[color="#111111"],
.mw-parser-output .wikitable th,
.hlist li:before,
.hlist li:after {
	color: #d5d5d5 !important;
}

b,
.navbox-list > div,
.dropdown-item,
.mw-parser-output .infobox .infobox-subheader {
	color: #d5d5d5;
}

.dropdown-item:hover {
	color: #eee;
}

.dropdown-menu {
	background-color: #292929;
	border: 1px solid #424242;
}

.dropdown-item:hover {
	background-color: #353535;
}

.bi {
	transition: color 0.1s;
}

.btn-flat:hover, .btn-flat:focus {
	background-color: #1a1a1a !important;
	color: #999 !important;
}

.btn-flat:not(:hover) {
	color: #d5d5d5;
}

.btn-flat {
	border: none !important;
}

input[type="number"] {
	background-color: #303030;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #303030 !important;
}

input[type=range]::-webkit-slider-thumb {
    border: none;
}

.dropdown-toggle::after {
	display: none;
}

a[href$="redlink=1"] {
	color: #f75b5b !important;
}

a[href]:not(.dropdown-item):not([href$="redlink=1"]),
.toctogglelabel {
	color: #77bbff !important;
}

#logo {
	/*noinspection CssUnknownTarget*/
	background: url("/logos/logo-white.png") no-repeat;
	background-size: contain;
}

#aggregatorURLField {
	background-color: #202020 !important;
	color: #d5d5d5 !important;
	border-color: #323232;
}

input[type="radio"]:not(:checked),
input[type="checkbox"]:not(:checked) {
	background-color: #353535 !important;
}

small {
	color: #777;
}

#encyclopediaLogo {
	background-color: #ccc;
	border-radius: 5px;
}

th, td {
	border-color: #303030;
}

.vote-rating-star {
	filter: invert(75%);
}

td[style*="background:"],
td[style="padding:0 0.6em; background:#e8e8e8;"],
th[style="text-align: center; background-color: rgb(235,235,210)"],
th[style="text-align: center; background-color: rgb(235,235,210)"] > a {
	color: #000 !important;
}
