#encyclosphereResultToggle {
    display: inline-block;
    text-decoration: none;
    color: #fff !important;
    background-color: #148ee5;
    margin-left: 10px;
    padding: 4px 8px 4px 6px;
}

#encyclosphereMoreResultsBtn {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

#encyclosphereResultToggle.enc-toggle-visible {
    border-radius: 4px 4px 0px 0px;
}

#encyclosphereResultToggle:not(.enc-toggle-visible), #encyclosphereMoreResultsBtn {
    border-radius: 4px;
    margin-bottom: 8px;
}

#encyclosphereResultContainer {
    border: 1px solid #148ee5;
    border-radius: 0px 4px 4px 4px;
    padding: 8px 5px 4px 5px;
    margin: 0px 10px 8px 10px;
}

#encyclosphereResultToggle > img {
    margin-bottom: -5px;
}

#encyclosphereLoader {
    margin-left: 10px;
    margin-bottom: 4px;
}

#encyclosphereNoResultsText {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 10px;
}

#encyclosphereNoResultsText > img {
    margin-bottom: -5px;
}
